.weave {
  border: 1px black solid;
  width: 1000px;
  height: 1000px;
}

.column {
  float: left;
  width: 10px;
  height: 1000px;
}

.threadingElem {
  border-width: 1px;
  border-color: black;
  border-style: none solid;
  width: 8px;
  height: 10px;
}

.treadlingElem {
  border-width: 1px;
  border-color: black;
  border-style: solid none;
  width: 10px;
  height: 8px;
}
